<?xml version="1.0" encoding="UTF-8"?>
Hrmproject p = new Hrmproject ();

	p.logintest();
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="orange.hrmnew1.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
